@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* SETTING BODY PROPERTIES  */

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:visited,
a:hover,
a:link {
  color: white;
}

/* MAIN LOGO DESIGN */

.logo {
  display: flex;
  align-items: baseline;
  padding: 20px;

  -webkit-box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.15);

  box-shadow: 0px 10px 0px 0px rgb(0 0 0 / 15%);
}
.logo i {
  font-size: 30px;
}

.logo img {
  height: 30px;
  margin: auto;
}

/* LOCATION SECTION */

.location {
  margin-top: 5px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  text-align: center;
  background-color: rgb(234 234 234);
}

.location i {
  margin-right: 10px;
}

.booking {
  height: 15em;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246 246 246);
  padding: 40px;
}
.booking h1 {
  font-weight: 900;
}
.booking p {
  width: fit-content;
}
.booking h3 {
  text-align: center;
  font-weight: normal;
}

/* Gradient Class to be reused with the buttons */

.btn-gradient {
  margin: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #ff79da;

  padding: 15px 30px;
  border-radius: 50px;
  color: #fff;
  font-weight: 400;

  background: #9456dc;
  background: -webkit-linear-gradient(bottom, #9456dc, #ff79db);
  background: -moz-linear-gradient(bottom, #9456dc, #ff79db);
  background: linear-gradient(to top, #9456dc, #ff79db);
  box-shadow: 1px 3px 10px grey;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info h1 {
  margin: 0;
  padding: 40px 20px 0 20px;
}

.work i {
  color: #7e7e7e;
  margin: 5px;
}
.work:hover i {
  color: #9356dc;
}
figcaption a,
figcaption a:visited {
  color: #333;
}
.work {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 20px;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 20%);
  margin: 0px 30px;
  height: 80px;
  background-color: rgb(246 246 247);
  border-radius: 20px;
  gap: 20px;
}
.work p {
  width: 25px;
  margin: 0 0 0 -12px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #9356dc;
}
.work:hover {
  background-color: #e5d5f6;
  opacity: 1;
}
/* Index restaurant code */

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 60px;
  margin-top: 80px;
  background-color: #f6f6f6;
}
/* Adding style to the titlle ```````````````````` */
.restaurants > h1 {
  font-weight: bold;
  font-size: xx-large;
  margin-left: 20px;
  padding-top: 40px;
  margin-bottom: 10px;
}

.restaurants figure {
  margin: 5px 20px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: -3px 0px 17px 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -3px 0px 17px 12px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0px 17px 12px rgba(0, 0, 0, 0.1);
}

.restaurants article figure img {
  width: 100%;
  display: block;
}
.restaurants article figcaption {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

.restaurants article figcaption h2 {
  color: #333;
  margin: 5px;
}

.restaurants article figcaption p {
  color: #333;
  margin: 5px;
}

.restaurants article > figure img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-bottom: 10px;
}

footer {
  font-family: "Roboto", sans-serif;
  background-color: #353536;
  color: #fff;
}
footer a {
  position: relative;
  margin: 0px 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: bold;
}

footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer i {
  clear: left;
}

/* alafrancaise code*/

.fondo {
  margin: 0;
}
.fondo img {
  object-fit: cover;
  width: 100%;
}
.menu {
  display: flex;
  /* found the error in this line */
  flex-direction: column; /* flex-flow: column nowrap;*/
  gap: 20px;
  background-color: #f6f6f6;
  position: relative;
  padding-bottom: 80px;
}

.new-tag {
  display: block;
  position: absolute;
  left: calc(100% - 140px);
  background-color: rgb(153 226 208);
  width: 85px;
  font-size: large;
  font-weight: 700;
  color: #008360;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.t-menu {
  margin: 10px 20px;
  padding-bottom: 5px;
  align-self: flex-start;
  color: #333;
  position: relative;
  font-size: 20px;
  padding: 0;
}
.t-menu::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #99e2d0;
  margin-top: 5px;
}

.selection {
  background-color: #fff;
  display: flex;
  margin: 0;
  border-radius: 10px;
  width: 90%;
  box-shadow: 1px 3px 15px rgb(0 0 0 / 10%);
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  animation-name: slideup;
  animation-fill-mode: backwards;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.selection:nth-of-type(1) {
  animation-delay: 100ms;
}
.selection:nth-of-type(2) {
  animation-delay: 200ms;
}
.selection:nth-of-type(3) {
  animation-delay: 300ms;
}

.selection > div:first-of-type {
  padding: 10px;
  flex: 10;
}

.selection h3,
.selection h5 {
  margin: 0;
}
.selection h5 {
  font-weight: 300;
}
.selection .price {
  padding-right: 20px;
  transition: all 0.3s ease;
  /*flex: 2;*/
  display: flex;
  align-self: end;
  padding-bottom: 10px;
}
.check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  background-color: #99e2d0;
  color: #fff;
  position: absolute;
  top: 0;
  right: -60px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.check i {
  transform: rotate(-360deg);
  transition: all 0.5s ease;
  font-size: 25px;
}

.selection:hover .check {
  right: 0;
}
.selection:hover .check i {
  transform: rotate(0deg);
}

.selection:hover .price {
  padding-right: 70px;
}

.selection:hover h3,
.selection:hover h5 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.favorite label:hover {
  cursor: pointer;
}

.btn-order {
  /*width: 35%;
  color: #fff;
  display: flex;
  align-self: center;
  position: absolute;
  left: calc(50% - 102px);
  bottom: 20px;*/
  width: 35%;
  color: #fff;
  display: flex;
  align-self: center;
  /* position: absolute; */
  /* left: calc(50% - 102px); */
  margin-top: 40px;
}

.btn-order > span {
  margin: 0 auto;
}

.btn-gradient > a {
  display: inline;
  color: #fff;
  justify-items: center;
}

.menu > h1 {
  font-size: 40px;
  margin: 20px;
  font-family: "Roboto";
  font-style: italic;
}

.restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -60px;
  position: relative;
}
.restaurant .favorite {
  margin-top: -15px;
}

.favorite input {
  width: 0;
  height: 0;
  overflow: auto;
}

.favorite i {
  display: block;
  margin-top: -20px;
  background-color: transparent;
  text-align: center;
  font-size: 30px;
}

.favorite input + i + i {
  display: none;
}

.favorite input:checked + i + i {
  display: block;

  background-image: linear-gradient(to top, #9456dc, #ff79db);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.favorite input:checked + i {
  display: none;
}

.entree input {
  width: 0;
  height: 0;
  overflow: hidden;
}
footer {
  padding-bottom: 30px;
}
footer h1 {
  margin-left: 20px;
}
footer > img {
  padding: 20px;
  width: 30%;
  filter: invert(1);
  -webkit-filter: invert(1);
  -ms-filter: invert(1);
  -o-filter: invert(1);
}
footer div {
  margin-left: 20px;
}

.main {
  color: #333;
}

@keyframes slideup {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
